largedata/
*.pyc
*.pkl
target/
!pom.xml
*.csv
target/
*.dat
data/
metastore_db/
node_modules/
chaindata/
build/
*.zip
yelp_scraper/
helper.txt
selector_helper.txt
quotes_spider/
item_helper.txt
*_helper.txt
books_crawler/
error_trace.*
dump/
